<div id="init2FAFormSubmitRow" class="instruction2FA noneInstruction" style="<%= style %>">
  <%= submit_tag t('redmine_2fa.second_authentications.next_button_html'), onclick: "$('#init2FAForm').submit();" %>
</div>
