<tr class="instruction2FA telegramInstruction" style="<%= style %>">
  <td colspan="3">
    <%= t 'redmine_2fa.second_authentications.telegram.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
  </td>
</tr>
