<tr class="instruction2FA googleInstruction"  style="display: none">
  <td colspan="3">
    <%= render 'second_authentications/qr_code' %>
  </td>
</tr>
<tr class="instruction2FA googleInstruction"  style="display: none">
  <td align="left" colspan="2"></td>
  <td align="right" colspan="1" class="next2FAStep">
    <%= submit_tag raw('Далее &#187;') %>
  </td>
</tr>
