<p>Установите приложение Google Authenticator, следуя инструкции предложенной по
  <a href="https://support.google.com/accounts/answer/1066447" target="_blank">ссылке</a>.</p>
<p>Используйте предложенный ниже QR-код в приложении.</p>
<table class="qr">
  <% @qr.modules.each_index do |x| %>
    <tr>
      <% @qr.modules.each_index do |y| %>
        <% if @qr.dark?(x, y) %>
          <td class="black"/>
        <% else %>
          <td class="white"/>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<p>После настройки приложения, нажмите "Далее".</p>
