<table class="qr">
  <% @qr.modules.each_index do |x| %>
    <tr>
      <% @qr.modules.each_index do |y| %>
        <% if @qr.dark?(x, y) %>
          <td class="black"/>
        <% else %>
          <td class="white"/>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
