<tr class="instruction2FA telegramInstruction"   style="display: none">
  <td colspan="3">
    <%= t 'redmine_2fa.new_connection.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
  </td>
</tr>
<tr class="instruction2FA telegramInstruction"   style="display: none">
  <td align="left" colspan="2"></td>
  <td align="right" colspan="1"  class="next2FAStep">
    <%= submit_tag raw('Далее &#187;') %>
  </td>
</tr>
