<tr class="instruction2FA telegramInstruction"   style="display: none">
  <td colspan="3">
    <%= t 'redmine_2fa.second_authentications.telegram.instruction_html', bot_name: Setting.plugin_redmine_2fa['bot_name'] %>
  </td>
</tr>
<tr class="instruction2FA telegramInstruction"   style="display: none">
  <td align="left" colspan="2"></td>
  <td align="right" colspan="1"  class="next2FAStep">
    <%= submit_tag t('redmine_2fa.second_authentications.next_button_html') %>
  </td>
</tr>
