---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot12345678:botSecretToken/getMe
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"id":12345678,"first_name":"testredminer","username":"RMReminderTestBot"}}'
  recorded_at: Thu, 22 Sep 2016 23:34:16 GMT
- request:
    method: post
    uri: https://api.telegram.org/bot12345678:botSecretToken/setWebhook
    body:
      encoding: UTF-8
      string: url=https%3A%2F%2Fredmine.test%2Fredmine_2fa%2Fupdate
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":true,"description":"Webhook was set"}'
  recorded_at: Thu, 22 Sep 2016 23:34:16 GMT
recorded_with: VCR 3.0.3
