<%= render partial: 'settings/redmine_bots/deprecation_warning' %>

<h4><%= t 'redmine_2fa.settings.common.title' %></h4>
<ul>
  <% Redmine2FA::AVAILABLE_PROTOCOLS.each do |protocol| %>
    <li style="display: inline-block">
      <%= check_box_tag "settings[active_protocols][]", protocol,
                        @settings["active_protocols"].try(:include?, protocol),
                        id: "settings_active_protocols_#{protocol}"
      %>
      <%= label_tag "settings_active_protocols_#{protocol}", l("redmine_2fa.protocols.#{protocol}"),
                    style: 'margin-left: 0; float: none;' %>
    </li>
  <% end %>
</ul>
