.qr {
    border: 0 none #0000ff;
    border-collapse: collapse;
    margin: 25px auto;
}
.qr td {
    border: 0 none #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 5px;
    height: 5px;
}
.qr td.black { background-color: #000; }
.qr td.white { background-color: #fff; }
